@page
@model projecto_iefp.Pages.ComentariosModel
@using Newtonsoft.Json;

@{
}

<div class="container my-5 py-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="search-div">
                <form method="get" action="/Search">
                    <select class="form-select" aria-label="Default select example" name="searchTerm" id="titulo">
                        <option selected>Filtre comentários por título</option>
                        @foreach (var titulo in Model.titulo)
                        {
                            <option value="@titulo">@titulo</option>
                        }
                    </select>
                    <button class="btn-get-started" type="submit">Pesquisar</button>
                </form>
                <a asp-area="" asp-page="/CreateComentario" class="btn-get-started">Comentar</a>
            </div>
            </div>
        </div>
    </div>

            @foreach (var comentario in Model.comentario)
            {

                Dictionary<string, string> dictlivros =
                new Dictionary<string, string> { { "passedObject", JsonConvert.SerializeObject(comentario) } };



                <div class="container my-5 py-2">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-8">
                            <div class="card" style="border: 2px solid white; background: none; border-radius: 1.5rem;">
                                <div class="card-body">
                                    <div class="d-flex flex-start align-items-center">
                                        <i class="bi bi-person-circle icon-comentario"></i>
                                        <div>
                                            <h6 class="fw-bold text-primary mb-1" style="color:#27a776 !important">@Html.DisplayFor(modelItem => comentario.nome)</h6>
                                            <p class="text-muted small mb-0" asp-all-route-data="dictlivros">
                                                @Html.DisplayFor(modelItem => comentario.titulo)
                                            </p>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-4 pb-2">
                                        @Html.DisplayFor(modelItem => comentario.comentario)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            }
