@page
@model projecto_iefp.Pages.DetailsModel
@{
}

<h2> @Html.DisplayFor(model => model.livro.titulo)</h2>


<div>
    <h4>Livro</h4>
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.livro.titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.livro.autor)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.livro.editora)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.livro.genero)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.livro.sinopse)
        </dd>

    </dl>
</div>

<a asp-area="" asp-page="/CreateComentario" asp-route-titulo="@Model.livro.titulo" class="btn-get-started">Navegue por todos os géneros</a>

